html {
  overflow: hidden;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans-Serif;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main section {
  overflow-y: scroll;
  margin: 20px 0 20px 0;
  scrollbar-width: none;
}

main section::-webkit-scrollbar {
  display: none;
}

main nav {
  border: 1px solid #dfdfdf;
  margin-right: auto;
  border-radius: 5px;
}

main nav a {
  font-size: 14px;
  padding: 6px 20px 6px 20px;
  border-bottom: none;
}

main nav a:hover {
  color: black;
  background-color: #dfdfdf;
}

main nav a.current {
  background-color: #0366d6;
  color: white;
  border-bottom: none;
  border-radius: 5px;
}

main canvas {
  margin: 0 0 100px 0;
}

header {
  margin: 0 0 10px 0;
  display: flex;
  align-items: baseline;
}

a {
  color: #424242;
  text-decoration: none;
}
header h1 {
  padding: 0 30px 0 0;
}

nav {
  display: flex;
}

nav a {
  padding: 10px 20px 10px 20px;
  color: #424242;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: white;
  background-color: #0366d6;
}

a.current {
  border-bottom: 2px solid #0366d6;
}

h3 {
  color: #424242;
  margin-top: 30px;
}
