html {
  overflow: hidden;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans-Serif;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  margin: 0 0 60px 0;
  display: flex;
  align-items: baseline;
}

a {
  color: #424242;
  text-decoration: none;
}
header h1 {
  padding: 0 30px 0 0;
}

nav {
  display: flex;
}

nav a {
  padding: 14px 20px 10px 20px;
  color: #424242;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: white;
  background-color: #1976d2;
}

a.current {
  border-bottom: 2px solid #1976d2;
}

h3 {
  color: #424242;
}
