main {
  overflow: hidden;
}
main nav a {
  font-size: 18px;
}

main ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main ul a {
  padding: 8px 10px 5px 10px;
  display: flex;
}

main ul a span:first-of-type {
  flex: 1;
}

main ul a:hover {
  color: white;
  background-color: #1976d2;
}
