main > section > section {
  padding: 5px 0 2000px 0;
}

main > section > section > article {
  margin:0 0 50px 0;
}

main > section > section > article > h3 {
  display: flex;
  justify-content: space-between;
}