main {
  overflow: hidden;
}

main ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0;
  margin: 20px 0 20px 0;
  scrollbar-width: none;
}

main ul::-webkit-scrollbar {
  display: none;
}

main ul a {
  padding: 8px 10px 8px 10px;
  display: flex;
  color: black;
  border-radius: 5px;
}

main ul a span.left {
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; flex: 1;
}

main ul a span.middle {
  text-overflow: ellipsis;
   white-space: nowrap; 
   overflow: hidden; 
   font-size: 12px; 
   flex: 0 0 250px; 
   color: #777777;
}

main ul a:hover > span.middle {
  color: white;
}

main ul a span.padding {
  flex: 0 0 50px;
}

main ul a:hover {
  color: white;
  background-color: #0366d6;
}
